.calendar-list {
  overflow: hidden;

  width: 100%;
  padding: var(--space-md);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-md);

  border-radius: var(--rounded-md);
  background-color: var(--color-background-secondary);
}

.months-container { 
  position: relative;
  overflow-y: scroll;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--space-lg);
}

.day-labels {
  width: 100%;
  padding: var(--space-sm);

  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-label {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
}

.day-label:first-child {
  color: var(--color-emphasized);
}